<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Библиотека.Properties.Settings.LibConnectionString"
            connectionString="Data Source=N354;Initial Catalog=Lib;Persist Security Info=True;User ID=Sa;Password=Sa159753"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>